body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 768px) {
  .advice-container {
    font-size: 10px;
  }
}

.advice-container {
  font-size: 18px;
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  max-width: 70%;
  height: 20vh;

  padding: 0.2rem;
  border: 2px solid black;
  border-radius: 0.8rem;

  text-align: center;
  margin: 0 auto;
  margin-top: 10rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
}
button {
  border: 1px solid black;
  padding: 0.6rem 0.8rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background-color: green;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 0.8rem;
}

p {
  text-align: center;
  color: white;
}
